body{
    background-color: #FFFFFF !important;
    font-family: 'Montserrat', sans-serif !important;
    transition: all 3s !important;
    /*line-height: 1 !important;*/
}

p{
    color: gray !important;
}

#number{
    font-size: 2.5rem;
    line-height: 1 !important;
}

.h-insonico{
    background-color: #242424 !important;
}

.img-articles{
    max-height: 300px !important;
    height: 100% !important;
    border-radius: 3px;
    width: 100%;
}


.t-insonico, .descripcion{
    color: #3b3c3d !important;
}

.descripcion{
    padding-top: 16px;
}

.footer{
    background-color: #444444;
    color: #FEDC13;
}
.title-articles{
    font-size: 1.75rem;
    line-height: 1.2;

}
.title-tops{
    font-size: .8rem !important;
    line-height: 1.2 !important;

    padding-top: 5px;
}
.caja-first-notice{
    background-color: #FFFFFF ;
    transform: scale(1.3);
    /*border: 1px solid #ff2e63;*/
}

.h1-first-notice, .p-first-notice{
    color: #000000;
}

.first-notice{
    /*background-color: rgba(255,255,255,.8);*/
    display: block;
    position: absolute;
    bottom: -16px;
    margin: 0 auto !important;
    padding: 5px;
    width: 100%;
    color: #000 !important;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.title-first-category{
    font-size: 2em;
}

.first-notice-category{
    /*background-color: rgba(255,255,255,.8);*/
    display: block;
    position: absolute;
    bottom:91%;
    margin: 0 auto !important;
    padding: 0;
    width: 75%;
    color: #000 !important;
    align-content: center;
    padding-left: 5%;
    padding-right: 10%;
}

.texto {
    background-color: #FEDC13;
    padding: 15px;
    width: 100%;
    text-align: center;

}

.texto-category {
    background-color: #FEDC13;
    padding: 3px;
    width: 100%;
    text-align: center;

}
.a-destacado:hover{
    color: #000000 !important;
}

/*.negro{*/
    /*background-color: #444444;*/
/*}*/

/*.blanco{*/
    /*background-color: #ffffff;*/
/*}*/

.img-first-notice{
    height: 500px;
}
.a-corregido{
    opacity: unset !important;
    text-decoration: none !important;
    color: #FEDC13 !important;
}
.a-corregido2{
    opacity: unset !important;
    text-decoration: none !important;
    color: #000000 !important;
}
.a-corregido:hover, .a-corregido2:hover{
    text-decoration: none !important;
    color: #FEDC13 !important;
    transition: 1s;
}

.a-logout{
    text-decoration: none !important;
    color: #FEDC13 !important;
}
.a-logout:hover{
    text-decoration: none !important;
    color: #FEDC13 !important;
    transition: 1s;

}

.ul-logout{
    background-color: #242424 !important;
}
.li-logout{
    text-align: center;
    margin: 0 auto;
}

.esp{
    margin-left: 5px !important;
}

.pse{
    margin-right: 5px !important;
    padding: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/* Colores de Filas */


.Aprobado{
    background: #d9f2d9 !important;
}

.No{
    background: #ffffcc !important;
}

.Rechazado{
    background: #ffcccc !important;
}

.approvals{
    color: #2a2a2a !important;
}
/*Cajas vacias para publicidad */


.publicidad-medium{
    height: 400px;
}
.publicidad-top,.publicidad-bottom{
    height: 100px;
}



/*Caja flotante de redes sociales */




.red{
    position: fixed;
    top: 400px;
    z-index: 100;

    left: 0;
}

#facebook{
     padding: 10px 20px;
     text-decoration: none;
     width: 55px;
     color: #FFFFFF !important;
    background-color: #4267B2;
 }

#youtube{
    padding: 10px 20px;
    text-decoration: none;
    width: 55px;
    color: #FFFFFF !important;
    background-color: #ff0000;
}
#instagram{
    padding: 10px 20px;
    text-decoration: none;
    width: 55px;
    color: #FFFFFF;
    background-color: #FEDC13;
}
#twitter{
    padding: 10px 20px;
    text-decoration: none;
    width: 55px;
    color: #FFFFFF;
    background-color: #006DBF;
}

.a-redes,.redes{
    width: 100% !important;
}


.logo-indie{
    margin: 0 auto;
}

.p-d-reservados{
    font-size: x-small;
    text-align: center;
}

#trumbowyg-logos{
    display: none;
}

.text-movil-center{
    margin: 0 auto !important;
}

@media (max-width: 1200px) {
    .first-notice-category {
        bottom: 89.5%;
    }
}

@media (max-width: 992px) {
    #caja-tops0,#tops0,#botoms0{
        display: none !important;
    }
    .first-notice-category {
        bottom: 87%;
    }

}

@media (min-width: 992px) {
    #caja-tops1,#tops1,#tops2,#bottoms1{
        display: none !important;
    }


}

@media (max-width: 768px) {
    .first-notice-category {
        bottom: 88.5%;
        transform: scale(.5);
        width: 100%;
        /*padding-left: 5%;*/
        left: -10%;
    }
}

@media (min-width: 768px) {

}

@media (max-width: 576px) {
    #tops2{
        display:none !important;
    }
}

@media (min-width: 576px) {
    #tops1{
        display: none !important;
    }
}





@media (max-width: 768px) {
    .red{
        display: none !important;
    }

    .img-first-notice{
        height: 300px;
    }

    .logo-indie{
        width: 60% !important;
    }

    h1{
        font-size: 1em !important;
    }

}
@media (min-width: 768px) {

    .red, .follow{
        display: none !important;
    }
}
@media (max-width: 576px) {
    .a-footer{
        text-align: center;
    }

    .vista-web{
        display: none !important;
    }
    .text-movil-center{
        text-align: center !important;
        margin: 0 auto;
    }
}
@media (min-width: 576px) {
    .vista-móvil{
        display: none !important;
    }

}