body{
    background-color: #ededed !important;
}

.posts{
    background-color: #ededed;
    margin-top: 71px;
}

/*fondo blanco de publicaciones y publicidad*/
.bw{
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;
    border: #ededed solid 2px;
}



.top-ten{
    height: 300px;
}

.text-carousel{
    background: #ededed;
    opacity: 0.5;

    /*filter: alpha(opacity=50); !* For IE8 and earlier *!*/
}

.mr{
    margin-right: -43px;
}



.text-top-ten{
    color: #000;
}

.iconos{
    padding: 10px;
}

.publicidad{
    background-color: #ededed;
}
.siguenos2{
    font-size: 14px;
    padding-bottom: -10px !important;
}
.siguenos{
    /*font-size: 14px;*/
    color: #66abb3;
    /*text-align: right;*/
}
.siguenos:hover{
    text-decoration: none !important;
    color: #ff2e63 !important;
    /*font-size: 1.4em;*/
    /*transition: 2s;*/
}

.irs{
    vertical-align: inherit;
}





/* Colores de IndieSonico */

/* Header #242424 */

.h-insonico{
    background-color: #242424 !important;
}


.t-insonico, .descripcion{
    color: #3b3c3d !important;
}

.descripcion{
    padding-top: 16px;
}

.a-corregido{
    opacity: unset !important;
    text-decoration: none !important;
    color: #FFFFFF !important;
}

.a-corregido:hover{
    text-decoration: none !important;
    color: #ff2e63 !important;
}

.a-logout{
    text-decoration: none !important;
    color: #FFFFFF !important;
}
.a-logout:hover{
    text-decoration: none !important;
    color: #ff2e63 !important;
}

.ul-logout{
    background-color: #242424 !important;
}
.li-logout{
    text-align: center;
    margin: 0 auto;
}




.scroll::-webkit-scrollbar {
    background-color: transparent;
}






.img-articles{
    height: 275px;
    border-radius: 3px;
    width: 100%;
}

.scroll {
    overflow-x: hidden;
    height: 440px;
}


/* Cajas de Publicidad */

.twit2-1{
    position: fixed;
}

.twit2-2{
    margin-top:235px;
    position: fixed;
    width: 275px;
}


/*1903 x 821 */
@media (min-width: 1900px) and (min-height: 800px){
    .scroll{
        height: 590px;
    }
    .top-ten{
        height: 300px;
    }
}

/* 1680 x 1050 */
@media (min-width: 1670px) and (min-height: 1040px){
    .scroll{
        height: 610px;
    }
    .top-ten{
        height: 350px;
    }
}


/* 1440 x 900 */
@media (max-width: 1440px) and (min-height: 900px){
    .scroll{
        height: 520px;
    }
    .top-ten{
        height: 300px;
    }
}



/*1280 x 800 */
@media (max-width: 1280px)and (min-height: 800px){
    .scroll{
        height: 460px;
    }
    .top-ten{
        height: 250px;
    }
}

/*1024 x 768        Listo */
@media (max-width: 1024px){
    .scroll{
        height: 440px;
    }
    .top-ten{
        height: 250px;
    }
    .twit2-1,.twit2-2{
        visibility: visible !important;
        width: 230px;
    }
    .sig{
        font-size: 22.5px;
    }
}

/*1024 x 1366        Listo */
@media (max-width: 1024px)and (min-height: 1366px){
    .scroll{
        height: 1030px;
    }
    .top-ten{
        height: 250px;
    }
    .twit2-1,.twit2-2{
        visibility: visible !important;
    }
}

/*768 x 1024        Listo */
@media (max-width: 768px)and (min-height: 1024px){
    .scroll{
        height: 690px;
    }
    .top-ten{
        height: 250px;
    }
    .twit2-1{
        visibility: visible !important;
        width: 160px;
    }
    .twit2-1{
        width:180px !important; ;
    }
    .sig{
        font-size: 16px;
    }
}


/* 414 x 736    LISTA*/
@media (max-width: 414px)and (min-height: 736px){
    .scroll{
        height: 525px;
    }
    .top-ten{
        height: 125px;
    }

    .img-articles{
        height: 100px;
        border-radius: 3px;
        width: 100%;
    }
    .twit2-1,.twit2-2{
        display: none !important;
    }
}

/* 375 x 667    LISTA*/
@media (max-width: 375px)and (min-height: 667px){
    .scroll{
        height: 450px;
    }
    .top-ten{
        height: 125px;
    }

    .img-articles{
        height: 100px;
        border-radius: 3px;
        width: 100%;
    }
    .twit2-1,.twit2-2{
        display: none !important;
    }
}
